{% extends "location/base.html" %}
{% load static %}
{% block content %}

<div class="table-responsive">
    <table class="table">
        <tr>
            <td>
                <table class="table table-bordered border-primary w-auto text-center">
                    <thead>
                        <tr>
                            <th class="col text-center">GBD</th>
                            <th class="col text-center">A</th>
                            <th class="col text-center">B</th>
                            <th class="col text-center">C</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">S01</th>
                            <td><input class="form-control text-center" type="text" name="GBD-S01A" id="GBD-S01A" maxlength="10" size="1" onchange="remove_class('GBD-S01A')"></td>
                            <td><input class="form-control text-center" type="text" name="GBD-S01B" id="GBD-S01B" maxlength="10" size="1" onchange="remove_class('GBD-S01B')"></td>
                            <td><input class="form-control text-center" type="text" name="GBD-S01C" id="GBD-S01C" maxlength="10" size="1" onchange="remove_class('GBD-S01C')"></td>
                        </tr>
                        <tr>
                            <th scope="row">S02</th>
                            <td><input class="form-control text-center" type="text" name="GBD-S02A" id="GBD-S02A" maxlength="10" size="1" onchange="remove_class('GBD-S02A')"></td>
                            <td><input class="form-control text-center" type="text" name="GBD-S02B" id="GBD-S02B" maxlength="10" size="1" onchange="remove_class('GBD-S02B')"></td>
                            <td><input class="form-control text-center" type="text" name="GBD-S02C" id="GBD-S02C" maxlength="10" size="1" onchange="remove_class('GBD-S02C')"></td>
                        </tr>
                        <tr>
                            <th scope="row">S03</th>
                            <td><input class="form-control text-center" type="text" name="GBD-S03A" id="GBD-S03A" maxlength="10" size="1" onchange="remove_class('GBD-S03A')"></td>
                            <td><input class="form-control text-center" type="text" name="GBD-S03B" id="GBD-S03B" maxlength="10" size="1" onchange="remove_class('GBD-S03B')"></td>
                            <td><input class="form-control text-center" type="text" name="GBD-S03C" id="GBD-S03C" maxlength="10" size="1" onchange="remove_class('GBD-S03C')"></td>
                        </tr>
                        <tr>
                            <th scope="row">S04</th>
                            <td><input class="form-control text-center" type="text" name="GBD-S04A" id="GBD-S04A" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="GBD-S04B" id="GBD-S04B" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="GBD-S04C" id="GBD-S04C" maxlength="10" size="1"></td>
                        </tr>
                        <tr>
                            <th scope="row">S05</th>
                            <td><input class="form-control text-center" type="text" name="GBD-S05A" id="GBD-S05A" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="GBD-S05B" id="GBD-S05B" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="GBD-S05C" id="GBD-S05C" maxlength="10" size="1"></td>
                        </tr>
                        <tr>
                            <th scope="row">S06</th>
                            <td><input class="form-control text-center" type="text" name="GBD-S06A" id="GBD-S06A" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="GBD-S06B" id="GBD-S06B" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="GBD-S06C" id="GBD-S06C" maxlength="10" size="1"></td>
                        </tr>
                        <tr>
                            <th scope="row">S07</th>
                            <td><input class="form-control text-center" type="text" name="GBD-S07A" id="GBD-S07A" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="GBD-S07B" id="GBD-S07B" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="GBD-S07C" id="GBD-S07C" maxlength="10" size="1"></td>
                        </tr>
                        <tr>
                            <th scope="row">S08</th>
                            <td><input class="form-control text-center" type="text" name="GBD-S08A" id="GBD-S08A" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="GBD-S08B" id="GBD-S08B" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="GBD-S08C" id="GBD-S08C" maxlength="10" size="1"></td>
                        </tr>
                        <tr>
                            <th scope="row">S09</th>
                            <td><input class="form-control text-center" type="text" name="GBD-S09A" id="GBD-S09A" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="GBD-S09B" id="GBD-S09B" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="GBD-S09C" id="GBD-S09C" maxlength="10" size="1"></td>
                        </tr>
                        <tr>
                            <th scope="row">S10</th>
                            <td><input class="form-control text-center" type="text" name="GBD-S10A" id="GBD-S10A" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="GBD-S10B" id="GBD-S10B" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="GBD-S10C" id="GBD-S10C" maxlength="10" size="1"></td>
                        </tr>
                        <tr>
                            <th scope="row">S11</th>
                            <td><input class="form-control text-center" type="text" name="GBD-S11A" id="GBD-S11A" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="GBD-S11B" id="GBD-S11B" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="GBD-S11C" id="GBD-S11C" maxlength="10" size="1"></td>
                        </tr>
                        <tr>
                            <th scope="row">S12</th>
                            <td><input class="form-control text-center" type="text" name="GBD-S12A" id="GBD-S12A" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="GBD-S12B" id="GBD-S12B" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="GBD-S12C" id="GBD-S12C" maxlength="10" size="1"></td>
                        </tr>
                        <tr>
                            <th scope="row">S13</th>
                            <td><input class="form-control text-center" type="text" name="GBD-S13A" id="GBD-S13A" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="GBD-S13B" id="GBD-S13B" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="GBD-S13C" id="GBD-S13C" maxlength="10" size="1"></td>
                        </tr>
                        <tr>
                            <th scope="row">S14</th>
                            <td><input class="form-control text-center" type="text" name="GBD-S14A" id="GBD-S14A" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="GBD-S14B" id="GBD-S14B" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="GBD-S14C" id="GBD-S14C" maxlength="10" size="1"></td>
                        </tr>
                        <tr>
                            <th scope="row">*</th>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                        </tr>
                        <tr>
                            <th scope="row">TT</th>
                            <td><input class="form-control text-center" type="text" name="TT1A" id="TT1A" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="TT1B" id="TT1B" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="" id="" maxlength="10" size="1" disabled="true"></td>
                        </tr>
                        <tr>
                            <th scope="row">DT</th>
                            <td><input class="form-control text-center" type="text" name="DT1A" id="DT1A" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="DT1B" id="DT1B" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="" id="" maxlength="10" size="1" disabled="true"></td>
                        </tr>
                        <tr>
                            <th scope="row">ATW</th>
                            <td><input class="form-control text-center" type="text" name="ATW1A" id="ATW1A" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="ATW1B" id="ATW1B" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="" id="" maxlength="10" size="1" disabled="true"></td>
                        </tr>
            
                    </tbody>
            
            
                </table>
            </td>
            <td>
                <table class="table table-bordered border-primary w-auto text-center">
                    <thead>
                        <tr>
                            <th class="col text-center">GBD</th>
                            <th class="col text-center">TB</th>
                            <th class="col text-center">WS</th>
                            <th class="col text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">W1</th>
                            <td><input class="form-control text-center" type="text" name="GBDW1TB" id="GBDW1TB" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="GBDW1" id="GBDW1" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="" id="" maxlength="10" size="1"></td>
                        </tr>
                        <tr>
                            <th scope="row">W2</th>
                            <td><input class="form-control text-center" type="text" name="GBDW2TB" id="GBDW2TB" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="GBDW2" id="GBDW2" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="" id="" maxlength="10" size="1"></td>
                        </tr>
                        <tr>
                            <th scope="row">W3</th>
                            <td><input class="form-control text-center" type="text" name="GBDW3TB" id="GBDW3TB" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="GBDW3" id="GBDW3" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="" id="" maxlength="10" size="1"></td>
                        </tr>
                        <tr>
                            <th scope="row">W4</th>
                            <td><input class="form-control text-center" type="text" name="GBDW4TB" id="GBDW4TB" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="GBDW4" id="GBDW4" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="" id="" maxlength="10" size="1"></td>
                        </tr>
                        <tr>
                            <th scope="row">E1</th>
                            <td><input class="form-control text-center" type="text" name="GBDE1TB" id="GBDE1TB" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="GBDE1" id="GBDE1" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="" id="" maxlength="10" size="1"></td>
                        </tr>
                        <tr>
                            <th scope="row">E2</th>
                            <td><input class="form-control text-center" type="text" name="GBDE2TB" id="GBDE2TB" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="GBDE2" id="GBDE2" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="" id="" maxlength="10" size="1"></td>
                        </tr>
                        <tr>
                            <th scope="row">E3</th>
                            <td><input class="form-control text-center" type="text" name="GBDE3TB" id="GBDE3TB" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="GBDE3" id="GBDE3" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="" id="" maxlength="10" size="1"></td>
                        </tr>
                        <tr>
                            <th scope="row">E4</th>
                            <td><input class="form-control text-center" type="text" name="GBDE4TB" id="GBDE4TB" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="GBDE4" id="GBDE4" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="" id="" maxlength="10" size="1"></td>
                        </tr>
                        <tr>
                            <th scope="row">E5</th>
                            <td><input class="form-control text-center" type="text" name="GBDE5TB" id="GBDE5TB" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="GBDE5" id="GBDE5" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="" id="" maxlength="10" size="1"></td>
                        </tr>
                        <tr>
                            <th scope="row">E6</th>
                            <td><input class="form-control text-center" type="text" name="GBDE6TB" id="GBDE6TB" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="GBDE6" id="GBDE6" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="" id="" maxlength="10" size="1"></td>
                        </tr>
                        <tr>
                            <th scope="row">E7</th>
                            <td><input class="form-control text-center" type="text" name="GBDE7TB" id="GBDE7TB" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="GBDE7" id="GBDE7" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="" id="" maxlength="10" size="1"></td>
                        </tr>
                        <tr>
                            <th scope="row">E8</th>
                            <td><input class="form-control text-center" type="text" name="GBDE8TB" id="GBDE8TB" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="GBDE8" id="GBDE8" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="" id="" maxlength="10" size="1"></td>
                        </tr>
                        <tr>
                            <th scope="row">WTM</th>
                            <td><input class="form-control text-center" type="text" name="GBDMTWTB" id="GBDMTWTB" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="GBDMTW" id="GBDMTW" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="" id="" maxlength="10" size="1"></td>
                        </tr>
                        
            
                    </tbody>
            
            
                </table>
            </td>
            <td>
                <table class="table table-bordered border-primary w-auto text-center">
                    <thead>
                        <tr>
                            <th class="col text-center">TSFB</th>
                            <th class="col text-center">A</th>
                            <th class="col text-center">B</th>
                            <th class="col text-center">C</th>
                            <th class="col text-center">D</th>
                            <th class="col text-center">E</th>
                            <th class="col text-center">F</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">S01</th>
                            <td><input class="form-control text-center" type="text" name="TSFBS01A" id="TSFBS01A" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="TSFBS01B" id="TSFBS01B" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="TSFBS01C" id="TSFBS01C" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="TSFBS01D" id="TSFBS01D" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="TSFBS01E" id="TSFBS01E" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="TSFBS01F" id="TSFBS01F" maxlength="10" size="1"></td>
                        </tr>
                        <tr>
                            <th scope="row">S02</th>
                            <td><input class="form-control text-center" type="text" name="TSFBS02A" id="TSFBS02A" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="TSFBS02B" id="TSFBS02B" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="TSFBS02C" id="TSFBS02C" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="TSFBS02D" id="TSFBS02D" maxlength="10" size="1" disabled="TRUE"></td>
                            <td><input class="form-control text-center" type="text" name="TSFBS02E" id="TSFBS02E" maxlength="10" size="1" disabled="TRUE"></td>
                            <td><input class="form-control text-center" type="text" name="TSFBS02F" id="TSFBS02F" maxlength="10" size="1" disabled="TRUE"></td>
                        </tr>
                        <tr>
                            <th scope="row">S03</th>
                            <td><input class="form-control text-center" type="text" name="TSFBS03A" id="TSFBS03A" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="TSFBS03B" id="TSFBS03B" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="TSFBS03C" id="TSFBS03C" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="TSFBS03D" id="TSFBS03D" maxlength="10" size="1" disabled="TRUE"></td>
                            <td><input class="form-control text-center" type="text" name="TSFBS03E" id="TSFBS03E" maxlength="10" size="1" disabled="TRUE"></td>
                            <td><input class="form-control text-center" type="text" name="TSFBS03F" id="TSFBS03F" maxlength="10" size="1" disabled="TRUE"></td>
                        </tr>
                        <tr>
                            <th scope="row">S04</th>
                            <td><input class="form-control text-center" type="text" name="TSFBS04A" id="TSFBS04A" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="TSFBS04B" id="TSFBS04B" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="TSFBS04C" id="TSFBS04C" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="TSFBS04D" id="TSFBS04D" maxlength="10" size="1" disabled="TRUE"></td>
                            <td><input class="form-control text-center" type="text" name="TSFBS04E" id="TSFBS04E" maxlength="10" size="1" disabled="TRUE"></td>
                            <td><input class="form-control text-center" type="text" name="TSFBS04F" id="TSFBS04F" maxlength="10" size="1" disabled="TRUE"></td>
                        </tr>
                        <tr>
                            <th scope="row">S05</th>
                            <td><input class="form-control text-center" type="text" name="TSFBS05A" id="TSFBS05A" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="TSFBS05B" id="TSFBS05B" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="TSFBS05C" id="TSFBS05C" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="TSFBS05D" id="TSFBS05D" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="TSFBS05E" id="TSFBS05E" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="TSFBS05F" id="TSFBS05F" maxlength="10" size="1" disabled="TRUE"></td>
                        </tr>
                        <tr>
                            <th scope="row">S06</th>
                            <td><input class="form-control text-center" type="text" name="TSFBS06A" id="TSFBS06A" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="TSFBS06B" id="TSFBS06B" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="TSFBS06C" id="TSFBS06C" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="TSFBS06D" id="TSFBS06D" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="TSFBS06E" id="TSFBS06E" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="TSFBS06F" id="TSFBS06F" maxlength="10" size="1" disabled="TRUE"></td>
                        </tr>
                        <tr>
                            <th scope="row">S07</th>
                            <td><input class="form-control text-center" type="text" name="TSFBS07A" id="TSFBS07A" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="TSFBS07B" id="TSFBS07B" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="TSFBS07C" id="TSFBS07C" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="TSFBS07D" id="TSFBS07D" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="TSFBS07E" id="TSFBS07E" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="TSFBS07F" id="TSFBS07F" maxlength="10" size="1" disabled="TRUE"></td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                        </tr>
                        <tr>
                            <th scope="row">MT</th>
                            <td><input class="form-control text-center" type="text" name="TSFBMT" id="TSFBMT" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="" id="" maxlength="10" size="1" disabled="TRUE"></td>
                            <td><input class="form-control text-center" type="text" name="" id="" maxlength="10" size="1" disabled="TRUE"></td>
                            <td><input class="form-control text-center" type="text" name="" id="" maxlength="10" size="1" disabled="TRUE"></td>
                            <td><input class="form-control text-center" type="text" name="" id="" maxlength="10" size="1" disabled="TRUE"></td>
                            <td><input class="form-control text-center" type="text" name="" id="" maxlength="10" size="1" disabled="TRUE"></td>
                        </tr>
                        <tr>
                            <th scope="row">TWP</th>
                            <td><input class="form-control text-center" type="text" name="TSFBTWP1" id="TSFBTWP1" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="TSFBTWP2" id="TSFBTWP2" maxlength="10" size="1"></td>
                            <td><input class="form-control text-center" type="text" name="" id="" maxlength="10" size="1" disabled="TRUE"></td>
                            <td><input class="form-control text-center" type="text" name="" id="" maxlength="10" size="1" disabled="TRUE"></td>
                            <td><input class="form-control text-center" type="text" name="" id="" maxlength="10" size="1" disabled="TRUE"></td>
                            <td><input class="form-control text-center" type="text" name="" id="" maxlength="10" size="1" disabled="TRUE"></td>
                        </tr>                        
                    </tbody>            
                </table>
                <table class="table table-bordered border-primary w-auto text-center">
                    <tr>
                        <th scope="row"></th>
                        <td>Track</td>
                        <td>Train</td>
                        <td</td>
                    </tr>
                    <tr>
                        <th scope="row">T1</th>
                        <td><input class="form-control text-center" type="text" name="TRACK1" id="TRACK1" maxlength="10" size="1"></td>
                        <td><input class="form-control text-center" type="text" name="TTRACK1" id="TTRACK1" maxlength="10" size="1"></td>                            
                    </tr>
                    <tr>
                        <th scope="row">T2</th>
                        <td><input class="form-control text-center" type="text" name="TRACK2" id="TRACK2" maxlength="10" size="1"></td>
                        <td><input class="form-control text-center" type="text" name="TTRACK2" id="TTRACK2" maxlength="10" size="1"></td>                        
                    </tr>
                    <tr>
                        <th scope="row">T3</th>
                        <td><input class="form-control text-center" type="text" name="TRACK3" id="TRACK3" maxlength="10" size="1"></td>
                        <td><input class="form-control text-center" type="text" name="TTRACK3" id="TTRACK3" maxlength="10" size="1"></td>
                    </tr>
                    <tr>
                        <th scope="row">T4</th>
                        <td><input class="form-control text-center" type="text" name="TRACK4" id="TRACK4" maxlength="10" size="1"></td>
                        <td><input class="form-control text-center" type="text" name="TTRACK4" id="TTRACK4" maxlength="10" size="1"></td>
                    </tr>
                    <tr>
                        <th scope="row">T5</th>
                        <td><input class="form-control text-center" type="text" name="TRACK5" id="TRACK5" maxlength="10" size="1"></td>
                        <td><input class="form-control text-center" type="text" name="TTRACK5" id="TTRACK5" maxlength="10" size="1"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
{{ trains|json_script:"mydata" }}
<script src="{% static 'location/location.js' %}">

</script>


{% endblock content %}