{% extends 'homedepot/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="boder-bottom mb-4">Trains</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
                <a class="btn btn-outline-info" href="{% url 'trains-list' %}" style="text-decoration: none">Close</a>                      
            </div>            
        </form>
    </div>
{% endblock content %}